.header {
  background: #151515 url('../images/background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// The ::after sudo selector creates a shadow container and must have a content property with value ''
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 94, 94, 0.7);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: 'lora-regular', serif;
}

.header .social {
  // bottom: 10px;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 10;
}

.logo img {
  // width: 100%;
}

// about
.about-img {
  width: 200px;
}

.point-down img {
  width: 100px;
}

#about-me {
  text-align: start !important;
}

// project
.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  // opacity: 0.6;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.click {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #151515;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.click:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

// service
.services {
  background: url('../images/bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.services::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.services .container {
  z-index: 10;
}

// responsive code
@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }

  .header .roles {
    font-size: 18px !important;
  }

  .about-content {
    flex-direction: column;
  }

  #about-me {
    text-align: center !important;
  }

  .stats .stat {
    border-right: none !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }
}
